@model List<MyShop.Models.PurchaseHistory>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L

<h2>@L["PurchaseHistoryLabel"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>@L["ProductName"]</th>
            <th>@L["Description"]</th>
            <th>@L["Category"]</th>
            <th>@L["Price"]</th>
            <th>@L["Date"]</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var h in Model)
    {
        <tr>
            <td>@h.ProductName</td>
            <td>@h.ProductDescription</td>
            <td>@L["Category_" + h.CategoryKey]</td>
            <td>@h.Price ₴</td>
            <td>@h.PurchasedAt</td>
        </tr>
    }
    </tbody>
</table>

<p class="mt-4">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">@L["BackToHome"]</a>
</p>
